<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        table {border: black 1px solid}
        table tr {border: black 1px solid}
        table tr td {border: black 1px solid}
        table tr th {border: black 1px solid}
    </style>
</head>
<body>
    <h1> Detail </h1>
    <a id="home" href="#"> Go Home </a>
    <table class="table">
        <thead>
            <tr class="table-active">
                <th style="width: 10%">글번호 : <span id="artNum"></span></th>
                <th style="width: 30%">글쓴이ID : <span id="writerId"></span></th>
                <th style="width: 30%">작성일 : <span id="regDate"></span></th>
                <th style="width: 30%">조회수 : <span id="count"></span></th>
                
            </tr>
        </thead>
        <tbody>
            
            <tr><td colspan="4" style="width: 100%"><span id="title">테스트</span></td> </tr>
            <tr><td colspan="4" style="width: 100%">
                  <textarea id="content" style="height: 300px">
                      
                  </textarea>
                </td> </tr>
        </tbody>
    </table>

    <script>
        document.getElementById('home').addEventListener('click', e => { location.href="/"})
        $.getJSON(`/articles/${localStorage.getItem('artNum')}`, d => {
            $('#artNum').text(d.artNum);
            $('#writerId').text(d.writerId);
            $('#regDate').text(d.regDate);
            $('#count').text(d.count);
            $('#content').val(d.content);
        })
   </script>
</body>
</html>